- name: Install and configure Pyramid application
  hosts: all
  become: true
  tasks:

  - name: Copy systemd unit file
      ansible.builtin.template:
        src: ./app.service.j2
        dest: /etc/systemd/system/app.service

    - name: Reload systemd config
      ansible.builtin.systemd_service:
        daemon_reload: true

    - name: Enable and start app service
      ansible.builtin.systemd_service:
        name: app.service
        state: started
        enabled: true