<!DOCTYPE html>
<html>
<head>
    <title>Server Information</title>
</head>
<body>
    <h1>Ansible Test Deployment Successful</h1>
    <p>Server hostname: {{ ansible_hostname }}</p>
    <p>Server IP: {{ ansible_default_ipv4.address }}</p>
</body>
</html>