"""HAMMER Generated Service Tests.

Assignment: {{ assignment_id }}
Phase: {{ phase }}

Tests that verify service states.
"""

import pytest


{% for test in tests %}
{% for host in test.hosts %}
@pytest.mark.{{ phase }}
def test_service_{{ test.name }}_on_{{ host }}(host_{{ host }}):
    """Verify service {{ test.name }} state on {{ host }}."""
    svc = host_{{ host }}.service("{{ test.name }}")
{% if test.running %}
    assert svc.is_running, \
        f"Service {{ test.name }} should be running on {{ host }}"
{% else %}
    assert not svc.is_running, \
        f"Service {{ test.name }} should not be running on {{ host }}"
{% endif %}
{% if test.enabled %}
    assert svc.is_enabled, \
        f"Service {{ test.name }} should be enabled on {{ host }}"
{% else %}
    assert not svc.is_enabled, \
        f"Service {{ test.name }} should not be enabled on {{ host }}"
{% endif %}


{% endfor %}
{% endfor %}
