"""HAMMER Generated Package Tests.

Assignment: {{ assignment_id }}
Phase: {{ phase }}

Tests that verify required packages are installed/absent.
"""

import pytest


{% for test in tests %}
{% for host in test.hosts %}
@pytest.mark.{{ phase }}
def test_package_{{ test.name }}_{{ test.state }}_on_{{ host }}(host_{{ host }}):
    """Verify package {{ test.name }} is {{ test.state }} on {{ host }}."""
    pkg = host_{{ host }}.package("{{ test.name }}")
{% if test.state == "present" %}
    assert pkg.is_installed, \
        f"Package {{ test.name }} should be installed on {{ host }}"
{% else %}
    assert not pkg.is_installed, \
        f"Package {{ test.name }} should not be installed on {{ host }}"
{% endif %}


{% endfor %}
{% endfor %}
